* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
   body {
    height: 100%;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    padding: 20px 0;
    color: #354cb3;
    text-align: center;
    * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 body {
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 20px 0;
  color: #333;
  text-align: center;
  flex-shrink: 0; 
}

.fichas-container {
  flex: 1; 
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  padding: 10px 20px;
  width: 100%;
  overflow-y: auto; 
}

.ficha {
  background-color: #83beda;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1; 
}

.ficha:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  text-align: center;
}

a:hover {
  color: #0056b3;
}

  }
  
  .fichas-container {
    flex: 1; 
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    padding: 10px 20px;
    width: 100%;
    overflow-y: auto;
  }
  
  .ficha {
    background-color: #83beda;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1; 
  }
  
  .ficha:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }
  
  a:hover {
    color: #cad1d8;
  }
